@model IEnumerable<eDolce.Core.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-3 mt-5">
        <ul>
            <li>Category 1</li>
            <li>Category 1</li>
            <li>Category 1</li>
            <li>Category 1</li>
        </ul>
    </div>
    <div class="col-md-9">
    <div class="container mt-5">
        <div class="row">
            @foreach (var item in Model)
            {

                <div class="col-md-3">
                    <img class="figure-img" src="~/Content/ProductUploads/@item.Image" />
                    <h5 class="text-center">@Html.ActionLink(item.Name, "Details", new { id = item.Id})</h5>
                    <div class="text-info"><strong>R @item.Price</strong></div>
                    @*<p>@item.Description</p>*@
                    <div>
                        <a href="#" class="btn btn-outline-primary">Add to Cart</a>
                    </div>
                </div>

            }
        </div>

    </div>
        </div>
</div>

<style>
    img {
        width: 200px;
        height: 200px;
    }
</style>